input[type='checkbox']:focus{
    outline: none;
}
input[type='checkbox']:checked {
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../../images/datasource/icon_opt_sel.png') center no-repeat;
}
input[type='checkbox']{
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 16px;
    height: 22px;
    margin: 0;
    background: url('../../images/datasource/icon_opt_nor.png') center no-repeat;
    line-height: 40px;
    outline: none;
    vertical-align: middle;
}
