/*
 * @Author: chen gong 
 * @Date: 2017-10-11 18:27:45 
 * @Last Modified by: chen gong
 * @Last Modified time: 2017-10-12 17:35:05
 */
// prefix
@sw-prefix             : sw;
/**
 * base colors
 */
@primary-color-light: #cfeeff;
@primary-color: #27b3fe;
@primary-color-deep: #19afff;
@primary-color-deeper: #00a6ff;

@success-color: #4cd964;
@success-color-deep: #3BD858;
@success-color-deeper: #29D846;

@danger-color: #f94242;
@danger-color-deep: #F73B3B;
@danger-color-deeper: #FA3131;

@warning-color          : #FFCA28;
@warning-color-deep: #F2B91A;
@warning-color-deeper: #F0B40D;

@normal-color           : #d9d9d9;
@body-background        : #fff;
@component-background   : #fff;
@heading-color          : fade(#000, 85%);
@text-color             : fade(#000, 65%);
@text-color-secondary   : fade(#000, 43%);
@heading-color-dark     : fade(#fff, 97%);
@text-color-dark        : fade(#fff, 91%);
@text-color-secondary-dark: fade(#fff, 67%);



/*font*/
@font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family            : "Helvetica Neue For Number", @font-family-no-number;
@code-family            : Consolas, Menlo, Courier, monospace;
@font-size-base         : 12px;
@font-size-lg           : @font-size-base + 2px;
@line-height-base       : 1.5;

/*boder*/
@border-color-base      : #d9d9d9;        // base border outline a component
@border-color-split     : #e9e9e9;        // split border inside a component
@border-width-base      : 1px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border
@border-radius-base     : 4px;
@border-radius-sm       : 2px;

.clearfix(){
    &:after{
        content:'';
        display:block;
        height: 0;
        clear: both;
        font-size: 0;
        visibility: hidden;
        zoom: 1;
    }
}