/*
 * @Author: chen gong 
 * @Date: 2017-10-11 18:27:45 
 * @Last Modified by: chen gong
 * @Last Modified time: 2017-10-30 14:26:01
 */
/**
 * base colors
 */
@import './normalize.less';
@sw-prefix: sw;
@theme-stroke-1: #333;
@theme-stroke-2: #444;
@theme-stroke-3: #666;
@theme-stroke-4: #999;
@theme-stroke-5: #bbb;
@theme-stroke-6: #cacaca;
@theme-stroke-7: #e5e5e5;
@theme-stroke-8: #f2f2f2;
@theme-stroke-9: #f8f8f8;
@theme-stroke-10: #fff;
@theme-primary-1: #27f;
@theme-primary-2: #38f;
@theme-primary-3: #59f;
@theme-primary-4: #bdf;
@theme-primary-5: #eaf3ff;
@theme-success-1: #0a0;
@theme-success-2: #4b0;
@theme-success-3: #6c2;
@theme-success-4: #396;
@theme-success-5: #4b8;
@theme-success-6: #83e5a7;
@theme-warn-1: #fc0;
@theme-warn-2: #feb;
@theme-warn-3: #fff7cc;
@theme-danger-1: #e33;
@theme-danger-2: #f44;
@theme-danger-3: #f66;
@theme-notice-1: #f60;
@theme-notice-2: #f85;
@theme-mask-1: fade(#000, 60%);
@theme-mask-2: fade(#000, 85%);
@theme-mask-3: fade(#fff, 60%);

/*font*/
@font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family            : "Helvetica Neue For Number", @font-family-no-number;
@code-family            : Consolas, Menlo, Courier, monospace;
@font-size-base         : 12px;
@font-size-lg           : @font-size-base + 2px;
@line-height-base       : 1.5;

/*boder*/
@border-width-base      : 1px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border
@border-radius-base     : 4px;
@border-radius-sm       : 2px;
.clearfix(){
    &:after{
        content:'';
        display:block;
        height: 0;
        clear: both;
        font-size: 0;
        visibility: hidden;
        zoom: 1;
    }
}

